<div class="d-flex">
    <div *ngIf="viewArticles.length > 0">
        <button (click)="changePage('previous')" *ngIf="currentPage > 1">Previous</button>
    </div>

    <section class="board__news">
        <a class="news--item" *ngFor="let article of viewArticles">

            <p class="title" (click)="openArticle(article)">
                {{article.title}}
            </p>
            <p class="date">
                {{article.abstract}}
            </p>
            <button (click)="removeReadLater(article)">Remove</button>
        </a>
        <div *ngIf="viewArticles.length < 1">
            No data
        </div>
    </section>
    <div *ngIf="viewArticles.length > 0">
        <button (click)="changePage('next')" *ngIf="currentPage < noOfPages">Next</button>
    </div>

</div>